@import '../../assets/scss/define';

.nav-wrap{
    @extend %pa;
    @extend %l0;
    @extend %r0;
    @extend %b0;
    @extend %df;
    align-items: center;
    height: j(50);
    border-top: solid #ddd 1px;
}

.nav-item{
    @extend %df;
    @extend %df1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: j(50);
    &.active{
        svg,
        span{
            color: #58b7ff;
            fill: #58b7ff;
        }
    }
    span,
    svg{
        @extend %db;
        fill: #999;
    }
    span{
        color: #999;
    }
    .nav-home-item{
        width: 27px;
        height: 27px;
    }
    .nav-account-item{
        margin-top: 4px;
        width: 20px;
        height: 20px;
    }
    .nav-bill-item{
        margin-top: 3px;
        width: 22px;
        height: 22px;
    }
    .nav-chart-item{
        margin-top: 5px;
        width: 23px;
        height: 23px;
    }
}
